# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 42

print(number)

42

##### Assinging float

In [2]:
numberfloat = 4.1

print(numberfloat)

4.1

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 3
num2 = 8.4

result = num1 + num2

print(result)

# shorthand version

result += 2

print(result)

11.4
13.4

##### Subtraction

In [4]:
resultdif = num2 - num1

print(resultdif)

# shorthand version

resultdif -= 1

print(resultdif)

5.4
4.4

##### Multiplication

In [5]:
result_mult = num1 * num2

print(result_mult)

# shorthand version

result_mult *= 2

print(result_mult)

25.200000000000003
50.400000000000006

##### Division

In [6]:
result_div = num2 / num1 

print(result_div)

# shorthand version

result_div /= 2

print(result_div)

2.8000000000000003
1.4000000000000001

##### Floor Division

In [7]:
result_floor = num2 // num1

print(result_floor)

# shorthand version 

result_floor //= 2

print(result_floor)

2.0
1.0

##### Modulo

In [8]:
result_mod = num2 % num1

print(result_mod)

# shorthand version

result_mod %= 2

print(result_mod)

2.4000000000000004
0.40000000000000036

##### Exponential

In [9]:
square = 5 ** 3

print(square)

# shorthand version

square **= 2

print(square)

125
15625

### String Input-Output

##### String Assignment

In [10]:
stringaling = "gettin string-y with it"

print(stringaling)

gettin string-y with it

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print("stringalingalingaling")

stringalingalingaling

##### String Concatenation

In [12]:
string = "stringaling"
aling = "alingaling"

stringaling = string + aling

print(stringaling)

# shorthand version

stringaling += " badingdong"

print(stringaling)

stringalingalingaling
stringalingalingaling badingdong

##### Type Conversion

In [13]:
number = "32"

print(type(number))

# change type(number)

number = int(number)

print(type(number))

<class 'str'>
<class 'int'>

##### input()

In [15]:
# input will always return a string!

age = int(input("What's your age? "))

print(age)
          
add_age = age + 1
          
print(add_age)

name = input("What is your name? ")

What's your age? 26
26
27
What is your name? John

##### format()

In [ ]:
age = int(input("What's your age? "))

result_string = f"you are {age} {name} and getting older!"
print(result_string)

##### Old Way (python 2)

In [ ]:
myage = 26
age_old = "You are %s and you look fine" %age

print(age_old)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
color = input("what is the color? ")
year = input("what is the year? ")
make = input("what is the make? ")
model = input("what is the model? ")
car_data = f"Your car is a {color} {year} {make} {model}"

print(car_data)

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 10
num2 = 10

if num2 == num1:
    print("These here values are equal.")
else:
    print("Not equal values.")
    
if num1 < num2:
    print("num2 is greater!")
elif num1 > num2: 
    print("num2 is less!")
elif num1 == num2:
    print("num1 does INDEED equal num2")

##### 'is' keyword

In [ ]:
# use the "is" keyword when checking for same/similar OBJECT, not same value

numero1 = 42
numero2 = 42

if numero1 is numero2:
    print("estos numeros son iguales")

if numero1 is 42:
    print("es verdad")

##### 'in' keyword

In [ ]:
# check is char in a string

ali = "I am the greatest"

if "am" in ali:
    print("He speaks the truth")

##### 'not in' keyword'

In [ ]:
# checks if a char is NOT in a string

false_quote = "A drop of honey brings more flies than a gallon of honey"
a = " gall "

print(false_quote)

if a not in false_quote:
    print("That's not the quote...")
else: 
    print("Such wise words")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
residence = input("What street do you live on? ")

if "p" or "P" in residence and "q" not in residence:
    print("mind your p'lease, but not your q's")
else: 
    print("p'lease")

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

nmbr_1 = 20
nmbr_2 = 7
nmbr_3 = 14
nmbr_4 = 2

# "If" statement with "and" statement
if nmbr_1 / nmbr_4 == 10 and nmbr_2 * 2 == nmbr_3:
    print(True)
    
# "If" statement with "or" statement
if nmbr_1 / nmbr_4 == 10 or nmbr_2 * 3 == nmbr_3:
    print("It's half true.")

### Elif Statements

In [ ]:
first_name = "Muhammed"

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Cassius":
    print("That was his name")
else: 
    print("He flies like a butterfly, strings like a bee")

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
# for keyword, counter, in, condition

# for i in range(10):
#     print(i**2)

song = "Saturday In The Park"


for i in range(len(song)):
    print(i, song[i])

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for i in range(21):
    if i >= 5 and i <= 7:
        continue
    print(i)

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(15):
    if i == 5:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in range(25):
    if i == 6:
        pass
    print(i)

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print ("i =", i, "  j =", j)

### While Loops

In [ ]:
number = 0
while number <= 10:
    print(number)
    number += 1

##### Looping 'While True'

In [ ]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

##### While & For Loops Used Together

In [ ]:
num = 0

while num <= 5:
    print("While Loop Iteration " + str(num))
    
    num += 1
    
    for i in range(2):
        print("For Loop Iteration " + str(i))

### Built-In Functions

##### range()

In [ ]:
# start, stop, step

for i in range (2,21):
    print(i)

###### len()

In [ ]:
# Check length of variable
# 

name = "Muhammed"

print(len(name))

##### help()

In [ ]:
help(isinstance)

##### isinstance()

In [ ]:
# Check a variable for what object family it belongs to
# isinstance(variable, type)

the_list = ["a", "b", "q"]
print(isinstance(the_list, list))

# there are methods for the string class that are similar to isinstance
    #  - str.isdigit(stringname)
    #  - str.isdecimal(stringname)
    # This is really useful to check if a column in a dataset doesn't contain any irregularities.

##### abs()

In [ ]:
# gives the absolute value of a number

print(abs(-21))

### Try and Except

In [ ]:
# use when you expect to encounter a bug, so that the error doesn't make the program stop
# use so you can log out graceful and useful error messages

value_error_count = 0

while True:
    try:
        number_test = 0
        input_num = int(input("Guess a number between 0 - 10: "))
        if input_num != number_test:
            print("Your number was not the number test")
        else:
            print("Correct")
            break
    except: 
        print("Hey. You need to input an integer")

### Lists

##### Declaring Lists

In [17]:
empty = [] # Empty list declaration

names = ["Lawrence", "Ron", "Sarah", "Unique"]

print(names)

['Lawrence', 'Ron', 'Sarah', 'Unique']

##### Indexing a List

In [23]:
# [start: stop: step]

print(names[0])

# print starting at index 1 going to the end of the list
print(names[1:])

# print starting at the beginning of the list, and stop at N (N = the number we want to stop at)
print(names[:3])

# print a slice in the middle of the list
print(names[2:4])

# print starting at the beginning, skipping every other item
print(names[::2])

# print starting at the back, in reverse order
print(names[::-1])

Lawrence
['Ron', 'Sarah', 'Unique']
['Lawrence', 'Ron', 'Sarah']
['Sarah', 'Unique']
['Lawrence', 'Sarah']
['Unique', 'Sarah', 'Ron', 'Lawrence']

##### .append()

In [27]:
names.append("Davíd")

print(names)

SyntaxError: invalid syntax (<ipython-input-27-2cd6ec1a1db8>, line 1)

##### .insert()

In [29]:
names.insert(1, "Rosalina")

print(names)

['Lawrence', 'Rosalina', 'Rosalina', 'Ron', 'Sarah', 'Unique', 'Davíd', 'Davíd', 'Davíd']

##### .pop()

In [39]:
# default is the value if no parameter is given
# .pop() returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()

names = ["Unique", "Mercedes", "Condoleezza", "Larry"]


##### .remove()

In [41]:
# value to be removed, not index

names.remove("Larry")
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [42]:
# index to be removed, not value
# BE CAREFUL with del, it can cause indexing errors if used incorrectly

del(names[1])
print(names)

['Unique', 'Condoleezza']

##### Concatenating Two Lists

In [43]:
last_names = ["Piggot", "Friebe", "Warren", "Allred"]
more_names = names + last_names
print(more_names)

['Unique', 'Condoleezza', 'Piggot', 'Friebe', 'Warren', 'Allred']

##### Lists Within Lists

In [44]:
# lists can hold any type of element, including other lists! 
# you can have lists on lists on lists. You can have several lists nested within one another.

names = ["Effe", "Jake", "Prince", "Ariel", ["David,", "Allison", "Kaitlyn"]]
print(names[4][1])

Allison

##### Looping Through Lists

In [57]:
# There are two ways to loop through a list--by index, and by using the "in" keyword

# By index
for i in range(len(names)):
    print(i, names[i])

print("\n")
# By "in" keyword
for i in names:
    if isinstance(i, list):
        for j in i:
            print(j)
    else:
        print(i)

0 Effe
1 Jake
2 Prince
3 Ariel
4 ['David,', 'Allison', 'Kaitlyn']


Effe
Jake
Prince
Ariel
David,
Allison
Kaitlyn

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [68]:
for i in range(11):
    if i**3 <= 1000:
        print(i**3)
    else:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [8]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(1, 101):
    for j in range(2, i):
        if i%j == 0:
            break
    else:   
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [66]:
age = int(input("What's your age? "))

if age < 18:
    print("kids")
elif 18 <= age <= 65:
    print("adults")
else:
    print("seniors")

What's your age? 65
adults